.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftbox {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 170px;
    border-right: 1px solid #00153e;
    border-bottom: 1px solid #00153e;
    justify-content: space-between;
    align-items: center;
}

.middlebox {
    display: flex;
    /* float: left; */
    /* background: white; */
    flex-direction: column;
    width: 34%;
    height: 170px;
    border-left: 1px solid #00153e;
    border-right: 1px solid #00153e;
    border-bottom: 1px solid #00153e;
    justify-content: space-between;
    align-items: center;
}

.rightbox {
    display: flex;
    /* float: left; */
    /* background: white; */
    flex-direction: column;
    width: 33%;
    height: 170px;
    border-left: 1px solid #00153e;
    border-bottom: 1px solid #00153e;
    justify-content: space-between;
    align-items: center;
}
.btn {
    align-items: center;
    /* width: 100%; */
    margin: 3px;
    padding: 2px;
}
.col {
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
}
.leftcol {
    float: left;
    /* background: white; */
    height: 468px;
    /* border-left:1px solid #00153E; */
    justify-content: center;
    overflow: auto;
}
.leftcol-width {
    width: 25%;
}
.border-right {
    border-right: 1px solid #00153e;
}
.buttons {
    display: flex;
    justify-content: centre;
    flex-direction: column;
}
.columnTitle {
    background-color: #00153e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.rightcol {
    height: 468px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.h2 {
    display: flex;
    justify-content: flex-start;
    background-color: #00153e;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.table1 {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 2%;
}

.th {
    border: 1px solid #000000;
    align-items: left;
    padding: 8px;
}
.th1 {
    border: 1px solid #000000;
    align-items: left;
    padding: 8px;
    font-weight: bold;
}
.td {
    border: 1px solid #000000;
    align-items: left;
    padding: 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

.btn2 {
    float: right;
    padding: 2px;
}

.savebtn {
    float: right;
}
/* .buttonGroup{
  display: flex;
  justify-content: center;
} */

.input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    appearance: none;
}

.background:hover {
    background: #e8e8e8;
}

.cursor {
    cursor: pointer;
}

.border {
    border: 1px solid black;
}

.children {
    margin-left: 24px;
}

.subassembly {
    display: flex;
    align-items: center;
    gap: 5px;
}

.alert {
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 11.25px solid red;
    position: absolute;
    left: 3.25px;
    top: 3.75px;
}

.triangle-border {
    width: 0;
    height: 0;
    border-left: 11.25px solid transparent;
    border-right: 11.25px solid transparent;
    border-bottom: 16.875px solid black;
}

.disabled {
    pointer-events: none;
    color: lightgray;
}

.products {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: calc(100% / 3);
    min-width: 425px;
}
.product {
    background: silver;
    border: 1px solid black;
    padding: 5px;
    min-width: 105px;
    height: 35px;
    text-align: center;
}

.stats {
    background: aliceblue;
    border: 1px solid black;
    padding: 5px;
}

.active {
    background: palegoldenrod;
}

.actions {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.select {
    width: 800px;
}

.title {
    margin: 25px 0;
}

.modal {
    padding: 15px;
    width: 800px;
}

.hidden {
    display: none;
}

.error,
.requiredSymbol {
    color: red;
    font-weight: 500;
    font-style: italic;
}

.expandable {
    display: flex;
    border: 1px solid black;
}

.toggler {
    cursor: pointer;
    background: aliceblue;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotate {
    transform: rotate(90deg);
}

.left-border {
    border-left: 1px solid black;
}

.text {
    padding-left: 5px;
    user-select: none;
}

.grow {
    flex-grow: 1;
}

.status {
    font-size: small;
}

.chart {
    margin-top: 25px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 200px;
    height: 100px;
    line-height: 100px;
    background: lightgray;
    text-align: center;
}

.vertical-short {
    height: 50px;
    border: 1px solid black;
}

.children-chart {
    display: flex;
}

.child {
    display: flex;
    align-items: center;
    position: relative;
}

.gap {
    width: 200px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.border-top {
    border-top: 1px solid black;
}

.children-subassembly,
.children-components {
    width: 250px;
}

.children-subassembly .box,
.bg-blue {
    background: lightblue;
}

.children-components .box,
.bg-green {
    background: lightseagreen;
}

.horizontal-short {
    width: 50px;
    border: 1px solid black;
}

.vertical-long {
    height: 125px;
    border: 1px solid black;
}

.hover {
    cursor: pointer;
}

.hover:hover {
    background: aquamarine;
}

.btn-back {
    height: fit-content;
}

.details-subassembly {
    position: absolute;
    top: 112.5px;
    z-index: 1;
}

.details-components {
    position: absolute;
    top: 112.5px;
    left: 50px;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
}
