* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
 }
  
  /* navbar */
.navbar {
    background-color: rgb(20, 38, 54);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    min-height: 90px;
 }
  
  
  /* logo  */
  /* .logo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  } */
  
  
  /* ul  */
 .navMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    background-color: rgb(20, 38, 54);
    line-height: 40px;
}
  
  /* media queries */
  
@media screen and (max-width: 769px){
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .bar {
          background-color: #120f0b;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 0px;
      left: -100%;
      text-align: start;
      width: 40%;
      transition: 0.3s ease-in-out;
      background-color: rgb(16, 56, 87);
      padding: 10px;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
  }
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftbox {
    display: flex;
    /* float: left; */
    /* background: white; */
    width: 33%;
    height: 170px;
    border-right: 1px solid #00153E;
    justify-content: center;
    align-items: center;
}

.middlebox {
    display: flex;
    /* float: left; */
    /* background: white; */
    width: 34%;
    height: 170px;
    border-left:1px solid #00153E;
    border-right:1px solid #00153E;
    align-items: center;
    justify-content: center;

}

.rightbox {
    display: flex;
    /* float: right; */
    align-items: center;
    /* background: white; */
    width: 33%;
    height: 170px;
    border-left: 1px solid #00153E;
    justify-content: center;

}
.btn{
    align-items: center;
    width: 100%;
    margin: 3px;
    padding: 2px;


}
.col{
    margin: 0%;
    padding: 0%;
    width: 100%;


}
.leftcol{
    float: left;
    /* background: white; */
    width: 25%;
    height: 468px;
    /* border-left:1px solid #00153E; */
    border-right:1px solid #00153E;
    justify-content: center;
}
.h1{
    display: flex;
    justify-content: center;
    background-color: #00153E;
    color: white;
    line-height: 40px;
    font-size: 18px;
}
.rightcol{
    display: flex;
    /* background: white; */
    width: 75%;
    height: 468px;
    background: grey;
    /* border-left:1px solid #00153E; */
    border-right:1px solid #00153E;
    justify-content: center;
}
.h2{
    
    display: flex;
    justify-content: flex-start;
    background-color: #00153E;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}